@import url('./normalize.css');

html{
    font-size: 10px;
}
body{
    font-family: 'Rosario';
}
.section{
    height: 1080px;
}
li{
    list-style: none;
}
/*Шапка*/
header{
    background: #000000;
    height: 12.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.style-card{
    background: white;
    height: 13.2rem;
    width: 25.3rem;
    transition: all 400ms;
}
.style-card:hover{
    opacity: 0.50;
}
.navigation{
    width: 70%;
}
.navigation ul{
    display: flex;
}
.lists{
    width: 100%;
    margin-left: 4%;
}
.lists a{
    text-decoration: none;
    font-weight: 700;
    font-size: 3.6rem;
    font-style: italic;
    color: #FFFCFC;
    transition: all 400ms;
}
.lists a:hover{
    opacity: 0.50;
}
/*Шапка*/
/*Основа*/
.box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box1-2{
    display: flex;
}
.style-card-services{
    width: 25rem;
    height: 25rem;
    margin-left: 6.9rem;
}
.style-card-services:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all 1s;
}
.image-postition{
    margin-left: 18.5rem;
}
.image-postition2{
    margin-top: 12rem;
}
.box1-3 img{
    width: 70rem;
    height: 108rem;
}
.text{
    font-weight: 700;
    font-size: 4.8rem;
    width: 100%;
    font-style: italic;
    text-align: Center;
    padding-left: 30%;
    margin-top: 10%;
}
.text-for-animation1{
    position: relative;
    animation: animationName1 15s linear infinite;
}
.text-for-animation2{
    position: relative;
    animation: animationName2 15s linear infinite;
}
.text-for-animation3{
    position: relative;
    animation: animationName3 15s linear infinite;
}
.text-for-animation4{
    position: relative;
    animation: animationName4 15s linear infinite;
}
.card-for-animation1{
    position: relative;
    animation: animationName5 15s linear infinite;
}
.card-for-animation2{
    position: relative;
    animation: animationName6 15s linear infinite;
}
.card-for-animation3{
    position: relative;
    animation: animationName7 15s linear infinite;
}
.card-for-animation4{
    position: relative;
    animation: animationName8 15s linear infinite;
}
/*Анимация*/
@keyframes animationName1{
    for, to{
        top: 0;
        left: 0;
        transition: 0ж
    }
    20%{
        left: 137%;
    }
    40%{
        top: 57%;
    }
}
@keyframes animationName2{
    for, to{
        top: 0;
        left: 0;
    }
    20%{
        top: 57%;
    }
    40%{
        right: 100%;
    }
}
@keyframes animationName3{
    for, to{
        bottom: 0;
        left: 0;
    }
    20%{
        bottom: 57%;
    }
    40%{
        left: 137%;
    }
}
@keyframes animationName4{
    for, to{
        bottom: 0;
        left: 0;
    }
    20%{
        right: 100%;
    }
    40%{
        bottom: 57%;
    }
}

@keyframes animationName5{
    for, to{
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(180deg);
        left: 137%;
    }
    40%{
        transform: rotate(360deg);
        top: 57%;
    }
}
@keyframes animationName6{
    for, to{
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
    20%{
        top: 57%;
        transform: rotate(180deg);
    }
    40%{
        right: 100%;
        transform: rotate(360deg);
    }
}
@keyframes animationName7{
    for, to{
        bottom: 0;
        left: 0;
        transform: rotate(0deg);
    }
    20%{
        bottom: 57%;
        transform: rotate(180deg);
    }
    40%{
        left: 137%;
        transform: rotate(360deg);
    }
}
@keyframes animationName8{
    for, to{
        bottom: 0;
        left: 0;
        transform: rotate(0deg);
    }
    20%{
        right: 100%;
        transform: rotate(180deg);
    }
    40%{
        bottom: 57%;
        transform: rotate(360deg);
    }
}
/*Анимация*/
/*Основа*/
@media screen and (max-width:1920px){
    .section{
        margin: 0 auto;
        width: 98%;
    }
}
@media screen and (max-width:1550px){
    .section{
        margin: 0 auto;
        width: 100%;
    }
    .navigation{
        width: 80%;
    }
    .text{
        font-size: 4rem;
    }
    .text{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:1317px){
    .lists{
        width: 80%;
        margin-left: 3%;
    }
    .text{
        font-size: 2rem;
    }
}
@media screen and (max-width:1239px){
    .lists{
        width: 60%;
        margin-left: 2%;
    }
}
@media screen and (max-width:1206px){
    .lists{
        margin-left: 2%;
    }
    .lists a{
        font-size: 3.1rem;
    }
    header{
        height: 10.9rem;
    }
    .style-card{
        height: 11.2rem;
        width: 21.3rem;
    }
}
@media screen and (max-width:1162px){
    .lists a{
        font-size: 2.8rem;
    }
    header{
        height: 8.9rem;
    }
    .style-card{
        height: 9.2rem;
        width: 17.3rem;
    }

}
@media screen and (max-width:992px){
    .box1{
        flex-direction: column-reverse;
        margin-top: 10% ;
        flex-wrap: wrap;
        justify-content: center;
    }
    .box1-3 img{
        width: 100%;
    }
    .text{
        font-size: 3.6rem;
    }
    .box1-2{
        margin-top: 10%;
    }
}
@media screen and (max-width:970px){
    header{
        height: 6.9rem;
    }
    .lists a{
        font-size: 2.5rem;
    }
    .style-card{
        height: 7.2rem;
        width: 13.3rem;
    }
}
@media screen and (max-width:860px){
    header{
        height: 4.9rem;
    }
    .lists a{
        font-size: 2rem;
    }
    .style-card{
        height: 5.2rem;
        width: 9.3rem;
    }
}
@media screen and (max-width:826px){
    .style-card-services{
        width: 20rem;
        height: 20rem;
    }
    .text{
        font-size: 3rem;
    }
}
@media screen and (max-width:760px){
    .box1-3{
        display: none;
    }
    .box1{
        margin-top: 10%;
    }
}
@media screen and (max-width:725px){
    header{
        height: 2.9rem;
    }
    .lists a{
        font-size: 1.5rem;
    }
    .style-card{
        height: 3.2rem;
        width: 5.3rem;
    }
}